* {
    padding:0px;
    margin:0px;
}

a {
    text-decoration: none;
}

body {
    background-color: #1b2426;
}

header a {
    color: white;
}

header div {
    padding: 15px;
}

header {
    background-color: #5e6567;
    display:flex;
    color: white;
    justify-content: center;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 0;
    background-color: #29373a;
    box-shadow:0 0 15px 4px #152224;
    color: white;
    border-left: 1px solid #eee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

select {
    margin: 10px 0;
    padding: 10px;
    border: 0;
    background-color: #29373a;
    box-shadow:0 0 15px 4px #152224;
    color: white;
    border-left: 1px solid #eee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button {
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    width: 75px;
    margin: 10px 0;
    padding:10px;
    border:none;
    background-color:#2e4b51;
    color:#fff;
    font-weight:600;
    border-radius:5px;
}

button:hover {
    box-shadow: 0 10px 15px 0 #2e4b51;
    transform: scale(1.05);
}

button.delete {
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    width: 75px;
    margin: 10px 0;
    padding:10px;
    border:none;
    background-color:maroon;
    color:#fff;
    font-weight:600;
    border-radius:5px;
}

button.delete:hover {
    box-shadow: 0 10px 15px 0 rgb(161, 6, 6);
    transform: scale(1.05);
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #5e6567;
}

div.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

div.center-text {
    text-align: center;
}

.text {
    padding: 10px;
    background-color: #30383a;
    text-align: center;
}

.container {
    padding: 25px;
}

/*Allows printing only #section-to-print*/
@media print {
    body {
      visibility: hidden;
    }
    #section-to-print {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
